html,body {
    margin: 0;
    padding: 0;
}

/* 顶部部分模块 */
#body_top{
    margin: 0;
	padding: 5px;
    width: calc(100% - 10px);
    min-width: 800px;
    height: 50px;
}

/* 中间部分模块 */
#body_middle {
    margin: 0;
	padding: 5px;
    display: flex;
	flex-direction: row;
    background-attachment:fixed;
    min-height: calc(100vh - 110px);
	width: calc(100% - 10px);
    min-width: 800px;
}

/* 中间偏左部分模块 */
#middle_left {
    flex: 1;
    padding-top: 10px;
    padding-right: 5px;
}

/* 中间的中间部分模块 */
#middle_middle {
    flex: 5;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/* 中间偏右部分模块 */
#middle_right {
    flex: 1;
    padding-top: 10px;
    padding-left: 5px;
}

/* 底部部分模块 */
#body_bottom{
    margin: 0;
	padding: 5px;
    height: 30px;
}

/* 空白行 */
.white_block {
    height: 5px;
}

/* 测试模块 */
.test_block {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 2px;
}

/* 隐藏模块 */
.hidden_block {
    border: none;
    border-radius: 20px;
    box-shadow: -10px -10px 10px rgb(194, 194, 194);
    display: none;
}

/* 帮助页面 */
#button_label {
    margin-top: 20px;
}

.help_button {
    border: none;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 150px;
    font-size: 15px;
    background-color: transparent;
}

.help_p {
    margin: 0px;
    padding: 0px;
    height: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.help_span {
    width: 100%;
}

.help_p:hover {
    background-color: rgb(223, 223, 223);
}

.help_img {
    height: 15px;
}

h2 {
    padding-top: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

p {
    padding-left: 50px;
}

.context {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instractions {
    width: 80%;
}

#myCard {
    width: 500px;
}