/* #addrLinkGroup {
    background-image: url("../素材/黄昏.png");
    min-width: 800px;
    max-width: 1200px;
    border-radius: 10px;
    padding-top: 10px;
} */

/* 编辑按钮 */
#edit {
    text-align: left;
    padding-left: 50px;
}
    
#edit_kid {
    /* display: none; */
     color: gray;
}


#edit_img {
    height: 20px;
}

#edit_frame {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 30px; /* 根据需要设置 edit_frame 的宽度 */
    height: 30px; /* 根据需要设置 edit_frame 的高度 */
}

#edit_frame:hover {
    background-image: url("../素材/白色半透明.png");
}


#edit_word {
    font-size: 15px;
    padding-left: 5px;
    color: white;
}


/* #edit_img:hover {
    使图片变为黑色
    filter: brightness(0) invert(1);
    变为白色
    filter: brightness(0) invert(100%) saturate(0);
} */

.addr_link {
    height: 60px;
    width: 90px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
}

:root {
    --hover-color: #f54e48; /* 定义颜色变量 */
}

.addr_link:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
    box-shadow: 0 0  10px var(--hover-color),
                0 0  20px var(--hover-color);
    text-shadow: 0 0  10px var(--hover-color),
                 0 0  20px var(--hover-color),
                 0 0  40px var(--hover-color),
                 0 0  80px var(--hover-color);
}

.key {
    display: none;
}